.myButton {
  outline: none !important;
  border: none !important;
}
.myButton:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.myButton:hover {
  background-color: #f3f4f6;
}

/* input */
.myInput {
}

.myInput:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* address */
.addressCard {
  width: 100%;
  height: 100%;
  border: 1px solid #eaeaea;
  padding: 12px;
}
.addressCard:hover {
  cursor: pointer;
}
.addressType {
  color: #374151;
  font-weight: 500;
  margin-left: 5px;
}
.addressName {
  font-size: 14px;
  color: #4b5563;
}

.selectedUserAddress {
  width: 100%;
  height: 100%;
  padding: 12px;
  border: 1px solid #86c0f5 !important;
  background-color: #f4faff !important;
}

/* CARD */

.myCard {
  border-radius: 8px;
}

.cardHeader {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* PAYMENT */
.customFileInput {
  color: transparent;
  width: 100%;
  height: 100%;
}
.customFileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.customFileInput::before {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Select some files";
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  color: black;
}
.customFileInput:hover::before {
  border-color: black;
}
.customFileInput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.cardPayMethod {
  margin-right: 5px;
}
.cardPayMethod:hover {
  cursor: pointer;
}
.selectedCardPayMethod {
  border: 1px solid #86c0f5 !important;
  background-color: #f4faff !important;
  color: #108cff;
  margin-right: 5px;
}

/* ADMIN */
.leftMenu {
  color: #2c333e;
}

.leftMenu:hover {
  background-color: #f3f3f5;
  color: #2c333e;
}
